<div class="index-container">
  <%= image_tag("logo.png", class: "top-logo") %>
  <h5 id="travel-slogan">A catalogue of curated trips for travelers who don't want to be tourists</h5>
  <% if signed_in? && current_user.admin? %>
  <h5 class="text-center"><%= link_to '+ New Travel', new_travel_path %></h5>
  <% end %>
<div class="row">
  <% @travels.each do |travel| %>
  <div class="col-md-6">
    <% if travel.image_url.present? %>
    <%= link_to image_tag(travel.image_url, class: "img-responsive"), travel_path(travel) %>
    <% end %>
    <h3><%= link_to travel.name, travel_path(travel) %></h3>
    <p><%= travel.price %></p>
    <p><%= travel.description %></p>
    <% if signed_in? && current_user.moderator? %><p><%= link_to 'Edit', edit_travel_path(travel) %> &nbsp · &nbsp <%= link_to 'Delete', travel, method: :delete, data: { confirm: 'Are you sure?' } %></p><% end %>
  </div>
  <% end %>
  </div>
</div>
