<div class="show-container">
	<%= image_tag("logo2.png", class: "top-logo") %>
	<div class="row">
		<div class="col-md-6">
    	<% if @travel.image_url.present? %><%= image_tag(@travel.image_url, class: "img-responsive") %><% end %>
			<% if signed_in? && current_user.moderator? %><br>
			<p><%= link_to 'Edit', edit_travel_path(@travel), class: "command-button" %> &nbsp · &nbsp <%= link_to 'Delete', @travel, method: :delete, data: { confirm: 'Are you sure?' }, class: "command-button" %></p><% end %>
		</div>
		<div class="col-md-6">
			<h1><%= @travel.name %> </h1>
      <p><%= @travel.price %> €</p>
      <p><%= @travel.description %></p>
		</div>
	</div><hr><br>
	<h5 class="text-center">DISCOVER MORE</h5><br>
  <div class="container-fluid">
    <div class="row">
      <% @travels.each do |travel| %>
      <div class="col-md-3">
	      <% if @travel.image_url.present? %><p><%= link_to image_tag(travel.image_url, class: "img-responsive img-product-show"), travel %></p><% end %>
	      <p class="text-center"><%= travel.name %></p><br><br>
    	</div>
      <% end %>
    </div>
  </div>
	<p class="text-center"><%= link_to 'Back', travels_path, class: "command-button" %>
</div>
