<div class="band">
</div>

<div class="text-center">
  <h3>Moderate comments for <%= @article.title %></h3>
  <br>
  <h5>select comments to approve</h5>
  
  <%= form_tag approve_article_comments_path, method: :put do %>
<div class="moderation-container">
  <div class="row">
<% @article.comments.draft.each do |comment| %>
  <div class="col-md-4">
    <p>Comment:</p>
  <%= comment.body %>
  </div>
  <div class="col-md-4">
    <p>Comment status:</p>
  <%= comment.status%>
  </div>
  <div class="col-md-4">
    <p>Check to approve</p>
    <%= check_box_tag "comment_ids[]", comment.id %>
  </div>
<% end %>
</div>
</div>

<%= submit_tag "Approve Comments", class: "btn btn-submit", style: "font-family: EB Garamond !important; color: white !important" %> 
<br><br>
<% end %>


</div>