<h3 class="moderationTitle">Moderating comments to <u><%= @article.title %></u></h3>
<div class="moderationTable">
  <h4>Select comments to approve:</h4><br>

  <%= form_tag approve_article_comments_path, method: :put do %>
    <div class="row">
      <% @article.comments.draft.each do |comment| %>
        <div class="col-md-4">
          <p class="moderationVoice">Comment</p>
          <p>"<%= comment.body %>"</p>
        </div>
        <div class="col-md-4">
          <p class="moderationVoice">Status</p>
          <p><%= comment.status%></p>
        </div>
        <div class="col-md-4">
          <p class="moderationVoice">Approved</p>
          <p><%= check_box_tag "comments_ids[]", comment.id %></p>
        </div>
        <br><hr><br>

      <% end %>
    </div>
    <br><br>
    <p><%= submit_tag "Approve", class: "button2" %></p>
  </div>
<% end %>
