<div class="index-container">
  <%= image_tag("logo.png", class: "top-logo") %>
  <% if signed_in? && current_user.admin? %>
  <h5 class="text-center"><%= link_to '+ New Article', new_article_path %></h5>
  <% end %>
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-md-6">
      <% if article.img_url.present? %>
        <%= link_to image_tag(article.img_url, class: "img-responsive"), article_path(article) %>
      <% end %>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <% if signed_in? && current_user.moderator? %><p><%= link_to 'Edit', edit_article_path(article) %> &nbsp · &nbsp <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></p><% end %>
      <p><%= article.category %> &nbsp · &nbsp <%= article.author %></p><br>
    </div>
    <% end %>
  </div>
</div>
