  <% if @article.img_url.present? %>
    <%= link_to image_tag(@article.img_url, class: "img-responsive"), article_path(@article) %>
  <% end %>

  <div class="articles-show-container">
  	<h1 id="articles-show-title"><%= @article.title %></h1>
    <p id="articles-show-info"><%= @article.category %></span> &nbsp · &nbsp <%= @article.author %></p>
    <% if signed_in? && current_user.moderator? %>
      <p id="articles-show-command"><%= link_to 'Edit', edit_article_path(@article), class: "command-button" %> &nbsp · &nbsp <%= link_to 'Delete', @article, class: "command-button", method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
  	<p><%= @article.text %></p>
  </div>

  <div class="other-stories">
    <p><%= image_tag("logo.png", class: "black-logo") %>
    <h3>More Tales</h3><br>
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-md-3">
        <p><% if article.img_url.present? %><%= link_to image_tag(article.img_url, class: "img-responsive"), article_path(article) %><% end %></p>
        <p><%= article.category %></span> &nbsp · &nbsp <%= article.author %></p>
        <h3><%= link_to article.title, article_path(article), id: "articles-show-related-title" %></h3>
      </div>
      <% end %>
    </div>
  </div>

<%= render 'new_comment' %>
<%= render 'comments' %>
