<div class="deviseLogin">
  <div class="loginPanel">

    <h4>Forgot your password?</h4>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Send", class: "button" %>
  </div>
<% end %>
<br><br>
<%= render "devise/shared/links" %>
<br><br>
</div>
</div>
