<div class="newsletter">
  <div class="newsletterPanel">
    <%= image_tag("logo.png", class: "pages-logo") %>
    <p>Our newsletter is delivered on Saturdays and includes our latest stories as well as a curated selection of geographic tales from other explorers worldwide.</p><br>
    <%= form_for @subscriber do |f| %>
      <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
      <br>
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      <br>
      <%= f.submit "Subscribe", class: "button" %>
    <% end %>
  </div>
</div>
