<div class="container-fluid index-container">
  <%= image_tag("logo.png", class: "top-logo") %>
  <% if signed_in? && current_user.admin? %>
  <h5 class="text-center"><%= link_to '+ New Product', new_product_path %></h5>
  <% end %>
  <br>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-6">
      <% if product.image_url.present? %>
        <%= link_to image_tag(product.image_url, class: "img-responsive"), product_path(product) %>
      <% end %>
      <h3><%= link_to product.name, product_path(product) %></h3>
      <p><%= product.price %></p>
      <p><%= product.description %></p>
      <% if signed_in? && current_user.moderator? %>
      <p><%= link_to 'Edit', edit_product_path(product) %> &nbsp · &nbsp  <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
    </div><br>
    <% end %>
  </div>
</div>
